body {
  color: black;
  margin: 0 auto;
  background-color: #FAFAFA;
}



.navbar {
    height: 65px;
    border-bottom: 1px solid #eeeeee;
}

.container-fluid {
    padding-top: 7px;
    font-family: 'Maven Pro';
    letter-spacing: 2.5px;
}



h1 {
    padding-top: 70px;
    text-align: center;
    font-family: 'Maven Pro';
}

.featurette-divider {
  margin: 60px 0 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.sr-icons{
    height: 50px;
    display: block;
    margin: auto;
}

#skillset {
    text-align: center;
    margin-top: 50px;
}

.media {
    margin: 50px 0px 100px 0px;
}



.media-body {
    padding-left: 15px;
    padding-top: 5px;
    line-height: 2.5;
}


#topsection {
    padding: 40px;
    padding: 10px 25px 40px 25px;

}

